.username-field {
	background: url("../icons/icon_user.png") no-repeat;
}

.password-field {
	background: url("../icons/icon_password.png") no-repeat;
}

.apptitle {
	float: right;
}

body,html { /* background-color: #f7f5f5; */
	background-image: url("../img/back_ground.jpg");
	height: 100%;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin-left: auto;
	margin-top: 45px;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 11px 15px 8px 50px;
	border-radius: 1px;
}
/*------Sign UP-----*/
.form-signup {
	max-width: 500px;
	padding: 0 0 0 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.form-signup .form-signup-heading,.form-signup .checkbox {
	margin-bottom: 10px;
}

.form-signup input[type="text"],.form-signup input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	border-radius: 1px;
}

.btn-submit {
	text-align: center;
	padding: 5px 0 20px 0;
}